{#

Description text for the theming Example.

#}

{% trans %}

<p>Some examples of pages and forms that are run through theme functions.</p>
<ol>
  <li><a href="examples/theming_example/theming_example_list_page">Simple page with a list</a></li>
  <li><a href="examples/theming_example/theming_example_select_form">Simple form 1</a></li>
  <li><a href="examples/theming_example/theming_example_text_form">Simple form 2</a></li>
</ol>

{% endtrans %}
